.bg-psomocnik, .btn-psomocnik {
    background-color: #3ed4c2;
}


.btn-psomocnik:hover {
    cursor: pointer;
    background-color: rgba(62, 212, 194, 0.6);
    font-weight: 500;
    /*color:white;*/
}

.btn-psomocnik:focus {
    background-color: rgba(62, 212, 194, 0.9); /*#1e2226;*/
    /*color:white;*/
    /*margin-top: 2px;*/
}

.btn-psomocnik.active,.btn-psomocnik:active {
    background-color: #1e2226;
    color:white;
    margin-top: 2px;
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

[type='radio'] {
    display: none;
}

.navbar-dark .navbar-nav .nav-item:after {
    content: '';
    display: block;
    border-bottom: 3px solid #3ed4c2;
    width: 0;
    transition: 0.4s;
}

.navbar-dark .navbar-nav .nav-item:hover:after {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover {
    font-weight: 500;
}

.dropdown:after {
    content: '';
    display: block;
    border-bottom: 3px solid #3ed4c2;
    width: 0;
    transition: 1s ease;
}

.dropdown:hover:after {
    width: 100%;
}

.navbar .dropdown-menu {
    background: #343a40;
}

.navbar .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: #3ed4c2;
}